<div class="main">
  <h1>{{title}}</h1>
  <section class="filters">
    <input class="filters-input" type="text" [(ngModel)]="searchObject.term" (ngModelChange)="updateSearchTerm($event)" placeholder="Search movie name or description" />
    <div class="filters-genres">
      <span>Genres:</span>
      <label *ngFor="let genre of genres">
        <input type="checkbox" 
          [value]="genre" 
          (change)="updateGenres(genre, $event)"
          [checked]="searchObject.genre.includes(genre)" />{{ genre }}
      </label>
    </div>
  </section>
  <ul class="movies" *ngIf="movies.length > 0">
    <li *ngFor="let movie of movies | movieFilter:searchObject">
      <app-movie-card [title]="movie.title" [description]="movie.description" [genre]="movie.genre"/>
    </li>
  </ul>
</div>